<table border=0>
	<tr>
				<td colspan=1 class="beforeafter">&nbsp</td>
				<td colspan=2 class="bfa">CGM Trace [Before]
				</td>
				<td colspan=2 class="beforeafter">
					<a href="/before/">&laquo;&nbspBefore&nbsp</a>
					<a href="/after1/">&laquo;&nbspAfter1&nbsp</a>
					<a href="/after3/">&laquo;&nbspAfter3&nbsp</a>
					<a href="/after5/">&laquo;&nbspAfter5&nbsp</a>
				</td>
	<tr>
	</tr>
		<td colspan=5 class="bca">
			<div class="container" style="position: relative"> 
				<img style="z-index: 32; left: 1px; position: relative;" alt="After 5 months on Reliv" src="/site_media/before.gif"> 
				<div style="z-index: 100; left: 85px; position: absolute; top: 6px"> 
					<img alt="top image" src="/site_media/blackout5.jpg">
				</div>
			</div>
		</td>	
	</tr>	
	<tr>
		<td class="bgb">In Range (60-170):  44.2%<br>(10.6 hrs/day)</td>
		<td class="bgb">Blood Glucose Average:  189.2</td>
		<td class="bgb"> Low (< 60): 1.2%  (17.3 min/day)</td>
		<td class="bga">Audio:<br>Details&nbsp&nbsp</td>
		<td class="bgb">
			<OBJECT classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA"
				width="120" height="55">
				<param name="type" value="audio/x-pn-realaudio-plugin">
				<param name="src" value="C:\ChaosCanyon\Reliv\Jukebox\WERN-JANIRAE.WAV">
				<param name="autostart" value="false">
				<param name="controls" value="playbutton volume">
				<EMBED src="C:\ChaosCanyon\Reliv\Jukebox\WERN-JANIRAE.WAV" width="200" height="70"
					controls="playbutton volume" type="audio/x-pn-realaudio-plugin" autostart="false"> 
				</EMBED>
			</OBJECT>
		</td>
	</tr>
	{#<tr>#}
	{#	<object type="application/x-shockwave-flash" data="http://widgets.nbc.com/o/4727a250e66f9723/48f3635c8c383a6f/4741e3c5156499a7/5488a618/-cpid/60ebae8d21baa7ed" id="W4727a250e66f972348f3635c8c383a6f" width="384" height="283"><param name="movie" value="http://widgets.nbc.com/o/4727a250e66f9723/48f3635c8c383a6f/4741e3c5156499a7/5488a618/-cpid/60ebae8d21baa7ed" /><param name="wmode" value="transparent" /><param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /></object><br clear="all" /><br clear="all" />#}
	{# </tr>#}
	{#<tr>#}
	{#	<td colspan=3 width=800>#}
	{#		<iframe width="900" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=115507110882967023031.00047fd1074686cd94d57&amp;ll=45.408297,-102.98584&amp;spn=6.24572,39.858398&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=115507110882967023031.00047fd1074686cd94d57&amp;ll=45.408297,-102.98584&amp;spn=6.24572,39.858398&amp;source=embed" style="color:#0000FF;text-align:left">Reliv Roadtrip</a> in a larger map</small>#}
	{#	</td>	#}
	{#</tr>#}	
</table>