{% extends "base.html" %}
{% block title %}Help Me Help You{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	{# <table bgcolor=TEAL border=0> #}
		{# <tr><td border=0 bgcolor=WHITE width=90></td><td>&nbsp</td></tr> #}
		<p>Fellow Reliv Distributors often ask me:&nbsp&nbspPete, how can I help?&nbsp&nbspTo be perfectly honest, as a Reliv Distributor, the single most powerful contribution you can make is to share your story.&nbsp&nbspYour story is pure gold.&nbsp&nbsp
		
For it is the gift of a Reliv story, honestly told and freely given, that drives this company forward and helps each of us connect with the people in our world.&nbsp&nbspAnd I treasure each and every Reliv story for its potential to positively change a life.&nbsp&nbsp

All that being said, I have some guidelines when it comes to sharing your story in the context of what we are trying to accomplish here:

(1) Understand and appreciate that all of the stories captured here will be transcribed and will ultimately go to the Reliv Compliance Department for approval.&nbsp&nbspIn fact, ABSOLUTELY NO STORY will show up on these websites 

that hasn't first been approved by Reliv Compliance.&nbsp&nbsp(2) Please respect the fact that the Reliv Compliance Department is operating in the best interests of everyone involved.&nbsp&nbsp(3) Please keep in mind that

Reliv products are not intended to diagnose, treat, cure or prevent any disease and any results achieved through the Reliv business opportunity are a function of individual skill, effort and creativity and should be

presented as examples only and are not intended as averages or guarantees.&nbsp&nbsp(5) The transcription and approval process both take significant time, effort and thought work.&nbsp&nbsp(6) Therefore, the cleaner your story before it enters the transcription/approval process, the better.&nbsp&nbsp

(7) In the interests of respecting everybodys time, NO STORY presented on these websites will be allowed to exceed two and one half minutes.&nbsp&nbsp(8) So, practice your story prior to 

submitting it.&nbsp&nbspGet to the point where you can share it from your heart from a list of bullet points you want to convey, rather than reading it word for word.&nbsp&nbsp  

Please respect these guidelines in the spirit in which they are given.

Most Sincerely,



Pete S. Aumann, Independent Reliv Distributor
</p>

{% endblock %}

