{% extends "base.html" %}
{% block title %}Help Me Help You{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	{# <table bgcolor=TEAL border=0> #}
		{# <tr><td border=0 bgcolor=WHITE width=90></td><td>&nbsp</td></tr> #}
		<p id=amazing><font size="3" face="Helvetica, Arial" color=WHITE>To be perfectly honest, your story is pure gold.&nbsp&nbsp
		
For it is the gift of a Reliv story, honestly told and freely given, that drives this company forward and helps each of us connect with the people in our world.&nbsp&nbspI treasure every Reliv story for its potential to positively change a life.&nbsp&nbsp

All that being said, I have some guidelines when it comes to sharing your story:

(1) Understand and appreciate that all of the stories captured here will be transcribed and will go through the Reliv Compliance Department for approval.&nbsp&nbsp&nbsp&nbsp(2) Please respect the fact that the Reliv Compliance Department is operating in the best interests of everyone involved.&nbsp&nbsp(3) Please keep in mind that

Reliv products are not intended to diagnose, treat, cure or prevent any disease and any results achieved through the Reliv business opportunity are a function of individual skill, effort and creativity and should be

presented as examples only and are not intended as averages or guarantees.&nbsp&nbsp(5) The transcription and approval process both take significant time, effort and thought work.&nbsp&nbsp(6) Therefore, the cleaner your story before it enters the transcription/approval process, the better.&nbsp&nbsp

(7) Due to technical limitations, your story cannot exceed two and one half minutes.&nbsp&nbsp(8) So please practice your story prior to 

submitting it.&nbsp&nbspTry to get to the point where you can share from your heart from a list of bullet points you want to convey, rather than reading it word for word.&nbsp&nbsp

Please respect these guidelines in the spirit in which they are given.
<br>
<br>
Most Sincerely,
<br>
<br>

Pete S. Aumann, Independent Reliv Distributor
</p>

{% endblock %}

