{% extends "base.html" %}
{% block title %}The Nexus of Nutrition and Technology{% endblock %}
{% block content %}
<p id=amazing><font size="3" face="Helvetica, Arial" color=WHITE>
This website is the first of multiple websites designed, built and maintained by Pete S. Aumann, Independent Reliv Distributor, with the purpose of leveraging technology in order to bring health, hope and opportunity into peoples lives through Reliv.&nbsp&nbsp

The goal of these websites is to serve ALL Reliv Distributors while respecting the requirements and guidance of the Reliv Compliance Department.&nbsp&nbspAny help you can offer without detracting from the mission of these websites (see <a href="/guidelines/">GUIDELINES</a>) is greatly appreciated.&nbsp&nbsp

By sharing your story (go to <a href="/storycapture/">CAPTURE</a>), you add to the body of evidence that Reliv is a company that achieves results, both with its products and with its business opportunity.&nbsp&nbspIn addition, your contribution will enable you to place that evidence in front of the people you know who need to hear about Reliv.&nbsp&nbspPlease be aware that Reliv products are not intended to diagnose, treat, cure or prevent any disease and any results achieved through the Reliv business opportunity are a function of individual skill, effort and creativity and should be viewed as examples only and are not intended as averages or guarantees.&nbsp&nbsp

{# My personal thoughts regarding the use of technology to advance ANY nutritional network-marketing endeavor can be found at The Shake Geek Blog (go to my <a href="/blog/">BLOG</a>).&nbsp&nbspPlease accept these ideas in the spirit in which they are given.&nbsp&nbspIt is up to you to decide just how much a nickels worth of free advice is actually worth.&nbsp&nbsp #}

And finally, any thoughts you may have for making improvements to this website are always welcome (go to  <a href="/feedback/">FEEDBACK</a>). 
<br>
<br>
Lets go build it together,
<br>
<br>
<br>
Pete Aumann, Independent Reliv Distributor
<br>
</p>
{% endblock %}

