{% if playlists %}
	<ul class="playlists">
		{% for playlist in playlists %}
			<li>
				<a href="{{ playlist.name }}" class="title">
					{{ playlist.name }}</a>
				{% if show_edit %}
					<a href="/savestory/?sharecode={{ playlist.name }}"
						class="edit">[edit]</a>
				{% endif %}
				<br />
				{% if show_tags %}
					Tags:
					{% if playlist.storytag_set.all %}
						<ul class="storytags">
						{% for storytag in playlist.storytag_set.all %}
							<li><a href="/storytag/{{ storytag.name|urlencode }}/">
								{{ storytag.name }}</a></li>
						{% endfor %}
						</ul>
					{% else %}
						None.
					{% endif %}
					<br />
				{% endif %}
				{% if show_storyuser %}
					Playlists for User:
					<a href="/user/{{ playlist.user.username }}/"
						class="username">
						{{ playlist.user.username }}</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% if show_paginator %}
		<div class="paginator">
			{% if has_prev %}
				<a href="?page={{ prev_page }}">&laquo; Previous</a>
			{% endif %}
			{% if has_next %}
				<a href="?page={{ next_page }}">Next &raquo;</a>
			{% endif %}
			(Page {{ page }} of {{ pages }})
		</div>
	{% endif %}
{% else %}
	<p>No playlists found.</p>
{% endif %}